[receive]
  denyCurrentBranch = ignore
[user]
  email = damyan+dev@0x4711.org
  name = Damyan Yordanov
  signingkey = A8D0CBE2F30047C4E54BFD1133263EED429B2D89
[pull]
  rebase = true
[rebase]
  autoStash = true
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
  default = current
[commit]
  gpgsign = true
[init]
  defaultBranch = main
