[receive]
  denyCurrentBranch = ignore
[user]
  email = damyan.yordanov@sap.com
  name = Damyan Yordanov
  signingkey = A8D0CBE2F30047C4E54BFD1133263EED429B2D89
[pull]
  rebase = true
[rebase]
  autoStash = true
[commit]
  gpgsign = true
[init]
  defaultBranch = main
