[receive]
  denyCurrentBranch = ignore
[user]
  email = damyan.yordanov@sap.com
  name = Damyan Yordanov
  signingkey = EF0423AD503A0538F95AB209384EB14BBE5E06CD
[commit]
  gpgsign = true
[pull]
  rebase = true
[rebase]
  autoStash = true
[init]
  defaultBranch = main
[push]
  autoSetupRemote = true
  default = current
[core]
  ignoreCase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
